azure:
  launchpad-redirectUri: https://launchpad-auth-preprod.hmpps.service.justice.gov.uk/v1/oauth2/callback
launchpad:
  auth:
    iss-url: https://launchpad-auth-preprod.hmpps.service.justice.gov.uk
hmpps:
  auth:
    url: https://sign-in-preprod.hmpps.service.justice.gov.uk
  prison-api:
    url: https://prison-api-preprod.prison.service.justice.gov.uk


spring:
  flyway:
    locations: classpath:db/migration/preprodandprod