<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <title>Launchpad</title>
</head>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous">
<script>
  if ( window.history.replaceState ) {
    window.history.replaceState( null, null, window.location.href );
  }
</script>

<body style="display: flex;width: 1366px;padding: 125px 50px 119px 433px;justify-content: center; align-items: center;background: #FFF;">
<div style="width: 501px; height: 524px; flex-direction: column; border: 1px solid #0B0D0D; background: #FFF;">
    <div style="display: flex;justify-content: center; padding-top: 40px;">
      <img th:src="${client.getLogoUri()}"  src="logo" width="131px" height="98px"/>
    </div>
    <div style="margin: 1em">
      <br><strong>Data Access</strong>
    </div>
    <div style="margin: 1em">
    <br th:text="${client.getName()} + ' will have access to:'"/>
    </div>
    <div style="margin: 1em">
      <ul style=" width: 100%;" >
        <li th:text="${scope}" th:each="scope: ${scopes}"/>
      </ul>
    </div>
    <div>
      <ul style="list-style-type: none;">
        <li style="margin:0 0 3px 0;">Is this OK?</li>
      </ul>
    </div>

    <form action="/v1/oauth2/authorize-client" method="post" id="form_approve">
      <input hidden="hidden" th:value="${state}" name="state"/>
      <input hidden="hidden" value="approved" name="userApproval"/>
    </form>
    <form action="/v1/oauth2/authorize-client" method="post" id="form_cancel">
      <input hidden="hidden" th:value="${state}" name="state"/>
      <input hidden="hidden" value="cancelled" name="userApproval"/>
    </form>
    <div style="display: flex; flex-direction: row; gap: 10px; margin: 1em;">
      <div>
        <button style="width: 62px; height: 51px ;background: #00703C;box-shadow: 0px -2px 0px 0px #002D18 inset; color: #FFFFFF" type="submit" form="form_approve" value="Submit">Yes</button>
      </div>
      <div>
        <button style="width: 62px; height: 51px ;background:  #F3F2F1;box-shadow: 0px -2px 0px 0px #929191 inset;" type="submit" form="form_cancel" value="Submit">No</button>
      </div>
    </div>
</div>
</body>
</html>