<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>

<div style="position: absolute;
  left: 40%;
  top: 40%;
  transform: translate(-50%, -50%);">
  <dialog open >
    <br/>ALLOW APP TO VIEW YOUR DATA
    <form action="/launchpad/logged/user/code" method="post">
      <img th:src="${logo}"  src="logo"/>
      <br th:text="${name}" text="name"/>
      <br th:text="${description}" text="description"/>
      <input hidden="hidden" th:value="${token}" name="id_token"/>
      <input hidden="hidden" th:value="${state}" name="state"/>
      <input hidden="hidden" th:value="${approve}" name="approve"/>
      <input type="submit" value="Allow Permission"/>
    </form>
    <form action="/launchpad/logged/user/code" method="post">
      <input hidden="hidden" th:value="${approve}" name="approve"/>
      <input type="submit" value="Cancel Permission"/>
    </form>
  </dialog>
</div>


</body>
</body>
</html>