generic-service:
  nameOverride: hmpps-launchpad-auth

  replicaCount: 4

  image:
    repository: quay.io/hmpps/hmpps-launchpad-auth
    tag: app_version # override at deployment time
    port: 8080

  ingress:
    enabled: true
    host: app-hostname.local # override per environment
    tlsSecretName: hmpps-launchpad-auth-cert
    annotations:
      nginx.ingress.kubernetes.io/configuration-snippet: |
        server_tokens off;
        location /v1/admin/** {
          deny all;
          return 401;
        }
      nginx.ingress.kubernetes.io/enable-modsecurity: true
      nginx.ingress.kubernetes.io/modsecurity-snippet: |
        SecRuleEngine On
        SecDefaultAction "phase:2,pass,log,tag:github_team=prisoner-content-hub-developers


  # Environment variables to load into the deployment
  env:
    JAVA_OPTS: "-Xmx512m"
    SERVER_PORT: "8080"
    SPRING_PROFILES_ACTIVE: "logstash"
    APPLICATIONINSIGHTS_CONNECTION_STRING: "InstrumentationKey=$(APPINSIGHTS_INSTRUMENTATIONKEY)"
    APPLICATIONINSIGHTS_CONFIGURATION_FILE: applicationinsights.json

  # Pre-existing kubernetes secrets to load as environment variables in the deployment.
  # namespace_secrets:
  #   [name of kubernetes secret]:
  #     [name of environment variable as seen by app]: [key of kubernetes secret to load]

  namespace_secrets:
    hmpps-launchpad-auth:
      APPINSIGHTS_INSTRUMENTATIONKEY: "APPINSIGHTS_INSTRUMENTATIONKEY"
      HMPPS_AUTH_CLIENT_ID: "HMPPS_AUTH_CLIENT_ID"
      HMPPS_AUTH_CLIENT_SECRET: "HMPPS_AUTH_CLIENT_SECRET"
      AZURE_TENANT_ID: "AZURE_TENANT_ID"
      AZURE_CLIENT_ID: "AZURE_CLIENT_ID"
      LAUNCHPAD_AUTH_SECRET: "LAUNCHPAD_AUTH_SECRET"
    rds-postgresql-instance-output:
      DB_NAME: "database_name"
      DB_USERNAME: "database_username"
      DB_PASSWORD: "database_password"
      DB_ENDPOINT: "rds_instance_endpoint"

  allowlist:
    groups:
      - internal

generic-prometheus-alerts:
  targetApplication: hmpps-launchpad-auth
