---
# Per environment values which override defaults in hmpps-launchpad-auth/values.yaml

purge_inactive_users_schedule: "0 13 * * 1-5"

purge_stale_sso_tokens_schedule: "05-55/10 07-21 * * 1-5"

generic-service:
  replicaCount: 2

  ingress:
    host: launchpad-auth-dev.hmpps.service.justice.gov.uk

  scheduledDowntime:
    enabled: true

  env:
    APPLICATIONINSIGHTS_CONFIGURATION_FILE: applicationinsights.dev.json
    SPRING_PROFILES_ACTIVE: "dev"

  allowlist:
    uservision-accessibility-testers: 5.181.59.114/32
    groups:
      - internal

# CloudPlatform AlertManager receiver to route prometheus alerts to slack
# See https://user-guide.cloud-platform.service.justice.gov.uk/documentation/monitoring-an-app/how-to-create-alarms.html#creating-your-own-custom-alerts
generic-prometheus-alerts:
  alertSeverity: digital-prison-service-dev
