---
# Per environment values which override defaults in hmpps-launchpad-auth/values.yaml

purge_inactive_users_schedule: "0 13 * * *"

purge_stale_sso_tokens_schedule: "*/10 * * * *"

generic-service:
  ingress:
    host: launchpad-auth.hmpps.service.justice.gov.uk

  env:
    APPLICATIONINSIGHTS_CONFIGURATION_FILE: applicationinsights.dev.json
    SPRING_PROFILES_ACTIVE: "prod"

  allowlist:
    nutrition-app-prod: 18.170.16.19
    nutrition-app-prod-1: 51.19.33.88
    nutrition-app-prod-2: 151.230.203.104
    groups:
      - internal
      - prisons
      - prisoner_facing_services

# CloudPlatform AlertManager receiver to route prometheus alerts to slack
# See https://user-guide.cloud-platform.service.justice.gov.uk/documentation/monitoring-an-app/how-to-create-alarms.html#creating-your-own-custom-alerts
generic-prometheus-alerts:
  alertSeverity: hmpps-launchpad
