---
# Per environment values which override defaults in hmpps-launchpad-auth/values.yaml

generic-service:
  ingress:
    host: launchpad-auth.hmpps.service.justice.gov.uk

    env:
      APPLICATIONINSIGHTS_CONFIGURATION_FILE: applicationinsights.dev.json
      SPRING_PROFILES_ACTIVE: "prod"
# CloudPlatform AlertManager receiver to route prometheus alerts to slack
# See https://user-guide.cloud-platform.service.justice.gov.uk/documentation/monitoring-an-app/how-to-create-alarms.html#creating-your-own-custom-alerts
generic-prometheus-alerts:
  alertSeverity: digital-prison-service
