---
# Per environment values which override defaults in hmpps-launchpad-auth/values.yaml

generic-service:
  replicaCount: 2

  ingress:
    host: hmpps-launchpad-auth-dev.hmpps.service.justice.gov.uk

  env:
    APPLICATIONINSIGHTS_CONFIGURATION_FILE: applicationinsights.dev.json
    AZURE_AD_TENANT_ID: AZURE_AD_TENANT_ID
    AZURE_AD_CLIENT_ID: AZURE_AD_CLIENT_ID
    PRISONER_API_USERNAME: PRISONER_API_USERNAME
    PRISONER_API_PASSWORD: PRISONER_API_PASSWORD
    DB_USERNAME: DB_USERNAME
    DB_PASSWORD: DB_PASSWORD
    DB_URL: DB_URL

# CloudPlatform AlertManager receiver to route prometheus alerts to slack
# See https://user-guide.cloud-platform.service.justice.gov.uk/documentation/monitoring-an-app/how-to-create-alarms.html#creating-your-own-custom-alerts
generic-prometheus-alerts:
  alertSeverity: digital-prison-service-dev
