---
# Per environment values which override defaults in hmpps-launchpad-auth/values.yaml

generic-service:
  replicaCount: 2

  ingress:
    host: launchpad-auth-preprod.hmpps.service.justice.gov.uk

  env:
    APPLICATIONINSIGHTS_CONFIGURATION_FILE: applicationinsights.dev.json
    SPRING_PROFILES_ACTIVE: "preprod"

  purgeInactiveUsersSchedule: "0 13 * * 1-5"
  purgeStaleSsoTokensSchedule: "05-55/10 06-21 * * 1-5"

# CloudPlatform AlertManager receiver to route prometheus alerts to slack
# See https://user-guide.cloud-platform.service.justice.gov.uk/documentation/monitoring-an-app/how-to-create-alarms.html#creating-your-own-custom-alerts
generic-prometheus-alerts:
  alertSeverity: digital-prison-service-dev
